$red_menu: #f96b60; 
$menu_bg: #151515;

@media screen and (max-width: 1030px){
    .collect ul {
  
    column-count: 4;
}
    .header_contact{ 
        position: fixed; 
        left: 80px; 
    }
    .juwelery{
        img{
            display: none;
        }
    }
    .juw_list{
    li{  
     padding-left: 20px;
     
     &:before{
       display: none;
    }
  }
}
 .basket{
    //margin-right: 50px;   
 }
}
@media screen and (max-width: 900px){
 .basket{
    //margin-right: 50px;   
   // right: 20px;
 }
 .wrap_basket{
    overflow: hidden;
    padding-bottom: 10px; 
    text-align: right;
 }
    header.clam_head{
    padding-top: 45px;
}


.row.row_reletiv.row_for_menu{
    display: none;
}

    #fix_menu_wrapper{
    
    background-color: transparent; 
   
    .header_contact{  
        visibility: hidden;
        //display: none;
    }
    
    .col_menu_btn{
        display: block;
        padding-left: 0; 
    }
    .menu_btn{
         
        background-image: url('../img/menu_btn.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-color: transparent;
        padding: 24px;
        visibility: visible;
        outline: none;
         
    }
    
  }
    }
@media screen and (max-width: 720px){
     .header_contact{ 
        display: none;
    }
    .mobile_menu > li { 
    margin-left: 28px; 
}

.mobile_menu > li:before {
    position: relative;
    top: 16px;
    left: -14px;
    display: block;
    width: 6px;
    height: 6px;
    content: '';
    border: 1px rgba(195, 195, 215, 0.7) solid;
    border-radius: 50%;
}
#fix_menu_wrapper.fixed .basket{
   // display: none;
   position: fixed;
   right: 20px;
   top: 3px;
}
#fix_menu_wrapper .basket{
   // display: none;
   position: fixed;
   right: 20px;
   top: -10px;
}
}
@media screen and (max-width: 480px){
 
  .wrap_basket{
    overflow: hidden;
    padding-bottom: 10px;
    padding-left: 30px;
 }
 .header_for_menu {
    margin-left: 0%;
    width: 100%;
}
.mobile_menu_wrapper {
    
    width: 200px;
   
}
.btn_menu_fix { 
    left: 200px; 
}
#fix_menu_wrapper.mobile_fixed.fixed{
    a.logo_image{
        display: none;
    }
}
//#fix_menu_wrapper.fixed .basket{
//   // display: none;
//   position: fixed;
//   right: -40px;
//   top: 3px;
//}
#fix_menu_wrapper.fixed.mobile_fixed .menu_btn {
    left: 200px;
}
.mobile_menu_wrapper .mobile_des{
    font-size: 12px;
}
.mobile_menu > li > a{
    font-size: 14px;
}  
}
 
 
 