@media screen and (max-width: 1030px){
	.header_contact{ 
		position: fixed; 
		left: 80px;	
	}
}
@media screen and (max-width: 720px){
	.sub_menu_conteiner{
		visibility: hidden;
		position: fixed;
		top: 70px;
		left: 0;
		width: 250px;
	}
	.juwelery{
		.menu_lv_2{
			display: block;
			width: 100%;
			h2{
				color: #fff;
				display: block;
			}
			img{
				display: none!important;
			}
			ul{
				display: none;

			}
		}
	}
	.row_for_menu_fixed{
		left: 0; 
		top: 0;
		bottom: 0;
		width: 250px;
		right: auto;	 
		.header_menu{
			display: block;
		}
		.header_contact_mobile{
			display: block;
		}
	} 
	.header_menu{
		display: none;
		margin: 0;
		padding-top: 80px;
		>li{
			text-align-last: auto;
			margin-left: 20px;

			display: block;
			>a{
				padding-left: 15px !important;
				text-align: left;

			}
			>a:after{
				display: none !important;
			}
			&:first-child{ 
				margin-left: 20px;
				&:before{
					display:  block!important;
				}
			}
		} 
	}
	ul.header_menu{
		.row{
			display: none;
			visibility: hidden;
		}
	}
	.header_contact{  
		top: auto;
		bottom: 20px; 
		left: 40px;
		z-index: 150;
		display: none;
	}
	.menu_btn_cls{
		position: fixed;
		z-index: 150;
		top: 0;
		left: 250px;
	}

}
