$red_menu: #f96b60; 
$menu_bg: #151515;

@media screen and (max-width: 1030px){
	.header_contact{ 
		position: fixed; 
		left: 80px;	
	}
	.juwelery{
		img{
			display: none;
		}
	}
	.juw_list{
    li{  
     padding-left: 20px;
     
     &:before{
       display: none;
    }
  }
}
 .basket{
 	margin-right: 50px;	
 }
}
@media screen and (max-width: 900px){
 .basket{
 	margin-right: 50px;	
 }
	header.clam_head{
    padding-top: 45px;
}


.row.row_reletiv.row_for_menu{
	display: none;
}

	#fix_menu_wrapper{
    
    background-color: transparent; 
   
    .header_contact{  
        visibility: hidden;
        //display: none;
    }
    
    .col_menu_btn{
        display: block;
        padding-left: 0; 
    }
    .menu_btn{
         
        background-image: url('../img/menu_btn.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-color: transparent;
        padding: 24px;
        visibility: visible;
        outline: none;
         
    }
    
  }
	}
@media screen and (max-width: 720px){
	 .header_contact{ 
		display: none;
	}
}
 