$red_menu: #f96b60; 
$menu_bg: #151515;
html{
    font-size: 18.3px;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p{
    font-weight: 400;

    margin: 0;
    padding: 0;
}
ul{
    margin-left: 0;
}
a{
    text-decoration: none;

    color: #900;
}
button{
    font-family: 'Ubuntu', sans-serif;

    cursor: pointer;
}
.top_wrapper{
    background-color: #f8f7f7;
}
header{
    height: 100vh;
    width: 100%;
    background-image: url(../img/body_bg.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.test_block{
    width: 100%;
    height: 1000px;
    background-color: #6384C8;
}
html{
    overflow-x: hidden;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-weight: 400;
    line-height: 1;
    
    position: relative;
    

}
.debug{
    position: fixed;
    z-index: 10000;
    top: 40px;
    right: 40px;
    button{
        line-height: 40px;

        width: 200px;
    }
}
.body_debug_bg{
    position: absolute;
    z-index: 1000;
    top: -16px;
    left: 0;
    //---------------
    left: 50%;

    //width: 1196px; 
    //height: 796px;

    width: 1196px; 
    height: 796px;

    content: '';
    transform: translateX(-50%);

    opacity: 0.8; 

    background-image: url('../img/about_bg_debug.jpg');
    // -dev
    //background-image: url('../img/collect_bg_debug.jpg');
    //background-image: url('../img/juwelery_bg_debug.jpg');
    //background-image: url('../img/present_bg_debug.jpg');
    
    
    display: none;
}
.logo_image, .logo_image_mobile{
    margin-top: 7px;
    display: inline-block;
    img{
        max-width: 100px;
        height: auto;
    }
}

.logo_image_mobile{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    img{
        width: 60px;
    }
}
.basket{

    background-image: url('../img/basket.png');
    background-repeat: no-repeat;
    background-position: right 0 center;
    display: inline-block;

    padding-right: 30px;
    position: relative;
    margin-top: 20px;
    .basket_counter{
        color: #fff;
        position: absolute;
        right: -11px;
        bottom: -9px;
        font-size: 12px;
        border-radius: 50%;
        background-color: $red_menu;
        padding: 4px;
    }
    .prise{
        color: #fff;
        font-size: 16px;
        line-height: 1;
        font-weight: 600;
        .currensy{
            font-size: 14px;
            display: block;
            font-weight: 300;
            text-align: right;
        }
    }
}
.header_contact, .header_contact_mobile{ 

    padding-left: 36px;

    margin-top: 17px;
    background-image: url(../img/smartphone.png);
    background-repeat: no-repeat;
    background-size: 19px auto; 

    line-height: 0.2; 

    background-position: 0 center; 

    h2, span {
        color: #ffffff;
    }
    .phone{
        font-size: 18px;
        font-weight: 700;
        
    }
    .description{
        font-size: 12px;
        font-weight: 300;
    }
}

.header_menu.header_menu_large{
    position: static;
    margin-top: -1px;
}
.header_menu.header_menu_1{
    
    margin-top: -0px;
}
.header_menu{

    // -dev
    position: relative;

    color: #fff;

    > li.perent{ 
        &:hover{ 
            a:after{
                display: block;
            }
        }
    }

    > li{
        &:hover{
            .row{
                display: block;
            }
            
        }
        display: inline-block;

        margin-left: 32px; 
        > a{
            font-weight: 300;

            position: relative;

            display: block;

            padding: 29px 0 20px 0;

            color: #fff;
            font-size: 16px; 

            &:after{
                position: absolute;
                bottom: -1px;
                left: 50%;

                display: none;
                z-index: 60;
                width: 28px;
                height: 15px;

                content: '';
                transform: translateX(-50%) translateY(100%);

                background-image: url('../img/mein_menu_arrov.png');
            }

        }
       // &:before{
       //     position: relative;
       //     top: 46px;
       //     left: -10px;
//
       //     display: block;
//
       //     width: 6px;
       //     height: 6px;
//
       //     content: '';
//
       //     border: 1px rgba(195, 195, 215, 0.7) solid;
       //     border-radius: 50%;
       // }
        &:first-child{
            margin: 0;
            &:before{
                display: none;
            }
        }
    }
} 
.row.row_menu{
    position: absolute;
    right:20px;
    left:20px;
    z-index: 50;
    padding-top: 15px;
}
.sub_menu_conteiner{  
    padding: 21px 25px 18px 3px; 
    background-color: #fff;
    overflow: hidden;
   box-shadow: 2px 14px 71px 6px rgba(0,0,0,0.5);
    li{
        padding-left: 10px;
        margin-bottom: 7px;
    }
    h2{
        font-size: 18px;
        font-weight: 700;
    }
    a{
        display: inline-block;
        color: #000;
        line-height: 1;
        &:hover{
            color: $red_menu;
            text-decoration: underline;

        }
        &:before{
            position: relative;
            top: 12px;
            left: -16px;

            display: block;

            width: 5px;
            height: 5px;

            content: '';

            border: 1px rgba(255, 55, 55, 0.4) solid;
            border-radius: 50%;
        }
    }
}

.row_header_menu{
    position: static !important;
}
.row_reletiv{
    position: relative;
}
//------------
.collect{
    ul{
        column-count: 2;
    }
    h2{
        margin-bottom: 23px;
    }
}
.present{
    .sub_menu_conteiner{  
        padding: 21px 15px 18px 21px; 
    }
        .menu_lv_2 > a{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 22px;
        &:before{
            display: none;
        }
    }
}
// -dev
//.about, .collect, .present,.juwelery 
.about, .collect,    .juwelery , .present  {
    .row{
        display: none;
    }
}
.cat_prev_img{
    min-height: 415px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.cat_list{
    padding: 20px 0px 20px 20px ;
    ul{
        margin-left: 0;
    }
}
.sub_menu_conteiner_col_2{
    min-height: 353px; 
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    ul li a, h2, ul{
        color: #fff;
        list-style-type: none;
        text-align: center;
    }
    h2{
        margin-bottom: 20px;
    }
    ul{
        margin-left: 0;
        li{
            padding-left: 0;
        }
    }
    position: relative;

    padding: 30px;

    text-align: left;
    vertical-align: top;

    background-color: #fff;
    background-size: cover;


}
.present  .sub_menu_conteiner .column{
    &:first-of-type{
     a, h2{ 
        color: #000000;
    }
}  
}
.presrnt_sep{
   &:after{

    position: absolute;
    top: 50%;
    right: -16px;

    display: inline-block;

    width: 1px;
    height: 91%;

    content: ' ';
    transform: translateY(-50%);

    background-color: #bbb;

    opacity: 0.7;
} 
}
.juwelery ul{

    li.menu_lv_2{

        ul{
            margin: 20px 0;
        }
        >a{
            padding: 0; 
            padding-left: 10px;
            font-size: 18px;
            font-weight: 700;
            margin: 0;
        }
    }
}
.juwelery{
    ul{
        margin: 0px 0;
    }
    img{
        height: 70px;
        width: auto;
    }
    .menu_lv_2 > a, img{
        margin-left: 10px;
        margin-bottom: 20px;
        &:before{
            display: none;
        }
    }
    .sub_menu_conteiner{
        padding: 55px 0 44px 0;
    }
    .column{
        position: relative;
        &:after{

            position: absolute;
            top: -18px;
            right: 17px;

            display: inline-block;

            width: 1px;
            height: 360px;

            content: ' ';

            background-color: #bbb;

            opacity: 0.4;
        } 
        &:last-of-type:after{
            display: none;
        }
    }
}
.juw_list{
    li{ 
     background-size: 32px 26px;
     background-position: 0 center;
     background-repeat: no-repeat;
     padding-left: 70px;
     margin-bottom: 17px; 
     position: relative;
     &:before{
        height: 60px;
        width: 60px;
        content: '';
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/juw_st.png);
        background-position: center center;
        background-size: auto auto;
        background-repeat: no-repeat;
    }
    &:nth-child(2):before{ 
        background-image: url(../img/juw_gup.png); 
    }
    &:nth-child(3):before{ 
        background-image: url(../img/juw_join_chain.png); 
    }
    &:nth-child(4):before{ 
        background-image: url(../img/juw_neck.png); 
    }
    &:nth-child(5):before{ 
        background-image: url(../img/juw_ear.png); 
    }
    &:nth-child(6):before{ 
        background-image: url(../img/juw_ring.png); 
    }
    &:nth-child(7):before{ 
        background-image: url(../img/juw_box.png); 
    }
}
}
.fixed{
    //left: 50%;
    //transform: translateX(-50%);
    left: 0;
    right: 0;
    max-width: 100%;
}
#fix_menu.fixed{
    position: static;
}
#fix_menu_wrapper.fixed.mobile_fixed{
    left: 40%;
    right: 0;
    width: auto;
    .menu_btn{
        left: 40%;
    }

}
#fix_menu_wrapper.fixed{
    color: #fff;
    background-color: rgba(0,0,0, .6); 
    min-height: 48px;
    .btn_menu_fix{
        position: fixed;
        left: 40%;
        top: 0px;
        z-index: 110;
    }
    .header_contact{  
        margin-top: 5px;
    }
    .logo_image {
        margin-top: 3px;
        display: inline-block;
    }
    .col_menu_btn{
        display: block;
        padding-left: 0; 
    }
    .menu_btn{
        cursor: pointer;
        width: 28px;
        height: 18px;
        margin-bottom: 0;
        background-image: url('../img/menu_btn.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-color: $menu_bg;
        padding: 24px;
        visibility: visible;
        outline: none;
        position: fixed;
        left: 0;
        top: 0;
    }
    .menu_btn_cls{
        background-image: url('../img/menu_btn_cls.png');
        background-size: 23px 19px;
    }
    .logo_image img {
        max-width: 70px; 
    }
    .basket { 
        margin-top: 5px;
    }
} 
.lv_2{
    .menu_lv_2 ul{
        display: none;
    }
}
.menu_btn_prev{
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('../img/cuorusel_arrov.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $menu_bg;
    padding: 24px;
    display: none;
    outline: none;
    &:hover{
        background-color: $menu_bg;
    }
}
.col_menu_btn{ 
    overflow: hidden;
    .menu_btn{
        background-color: $menu_bg;
        visibility: hidden;
    }
}

.row_for_menu_fixed{
    position: fixed;
    z-index: 120;   
    left: 0;
    right: 0;
    top: 45px;
    background-color: $menu_bg;
    max-width: 100%;
    display: none;
    .header_menu > li > a { 
        padding: 9px 0 10px 0; 
    }

    .header_menu > li:before { 
        top: 26px;

    } 
}
.show{
    display: block !important;
}
.header_contact_mobile{
        bottom: 25px;
    left: 50%;
    width: 180px;
    position: absolute;
    transform: translateX(-50%);
     
}
.mobile_courusel{
    text-align: justify;
    &:after{
        content: '';
        display: inline-block;
        width: 100%;
        visibility: hidden;
    }
}
.courusel_item{
    display: inline-block;
    text-align: center;
    max-width: 240px;
    p{
        color: #fff;
        line-height: 1.2;
        margin-top: 10px;
    }
}
.slick-initialized .slick-slide {
    text-align: center;
}
body .slick-slide img {
    display: inline-block;
}
.slick-prev.slick-arrow, .slick-next.slick-arrow{
    font-size: 0;
    background-color: transparent;
    background-image: url('../img/cuorusel_arrov.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 11px;
    height: 21px;
    position: absolute;
    z-index: 100;
    bottom: 50px;
    left: 50%;
    padding: 0;
    margin: 0;
}
.slick-prev.slick-arrow{
  //  left: 0;
  transform: translateX(-100px);
}
.slick-next.slick-arrow{
//right: 0;
transform: scale(-1, 1) translateX(-80px);
}
.test_content h1{
    font-size: 40px;
    color: #fff;
    margin: 100px 0;
    text-align: center;
}
//--------------

.vis_hid{
    visibility: hidden;
}
.vis_vis{
    visibility: visible;
}
header.clam_head{
    padding-top: 142px;
}
.mobile_menu::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.mobile_menu::-webkit-scrollbar
{
    width: 0px;
    background-color: #F5F5F5;
}
.mobile_menu::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.mobile_menu_wrapper{
     
    width: 100%;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    background-color: $menu_bg;
    display: none;
    .mobile_des{
        display: block;
        position: absolute;
        top: 0;
        left: 45px;
        right: 0;
        font-size: 14px;
        color: #fff;
        line-height: 48px;
        padding-left: 14px;
        background-color: #363636;
        display: none;
    }
}
.mobile_menu{
    padding-top: 0px;
    width: 100%;
}
.btn_menu_fix{
    position: fixed;
    left: 40%;
    top: 0px;
    z-index: 110;
}
.header_for_menu{
  margin-left: 40%;
  width: 60%;
}
.mobile_menu{
    overflow-y: scroll ;
    position: absolute;
    bottom: 60px;
    top: 55px;
    > li > a {
        font-weight: 300;
        position: relative;
        display: block;
        padding: 5px  0;
        color: #fff;
        font-size: 16px;
    }
    > li:before {
        position: relative;
        top: 16px;
        left: -24px;
        display: block;
        width: 6px;
        height: 6px;
        content: '';
        border: 1px rgba(195, 195, 215, 0.7) solid;
        border-radius: 50%;
    }
    > li {
        display: block;
        margin-left: 48px;
        margin-bottom: 20px;
    }

}